.channels-list-container {
    height: 60vh;
    // height: calc(100vh - 100px);
    width: 150px;
    background-color: #555;
    border-radius: 4px;
    .channel-line {
        width: 100%;
        border-radius: 4px;
        height: 35px;
        border: 1px solid #444;
        background-color: lighten($color: #444, $amount: 5%);
        margin-bottom: 1px;
        padding: 0 5px;
        font-size: 0.875rem;
        .channel-info {
            width: 50%;
            .channel-number-container {
                margin-top: 3px;
                color: white;
                border: none;
                width: 30%;
                background-color: #555;
                border-radius: 4px;
                background: hsl(340deg 10% 32%);
                border: none;
                padding: 0;
                outline-offset: 4px;
                .channel-number {
                    display: block;
                    width: 100%;
                    padding: 1px 5px;
                    border-radius: 3px;
                    transform: translateY(-2px);
                    background: hsl(345deg 10% 47%);
                    text-align: center;
                }
            }
            .channel-name-container {
                width: 75%;
                margin-inline-start: 10px;
            }
        }
        &.red {
            background-color: $bsDanger;
        }
        &.blue {
            background-color: $bsInfo;
        }
        &.yellow {
            background-color: $bsWarning;
        }
        &.green {
            background-color: $bsSuccess;
        }
    }
    // .mute-btn {
    //     border: none;
    //     border-radius: 2px;
    // }
    .ops-bts {
        // border: 1px solid;
        width: 40%;
        .solo-btn-container,
        .mute-btn-container {
            width: 45%;
        }
        .mute-btn,
        .solo-btn {
            cursor: pointer;
            font-size: 0.75rem;
            margin-top: 3px;
            color: white;
            border: none;
            width: 100%;
            background-color: #555;
            border-radius: 4px;
            background: hsl(340deg 10% 32%);
            border: none;
            padding: 0;
            outline-offset: 4px;
            p {
                display: block;
                width: 100%;
                padding: 2px 5px 1px 5px;
                border-radius: 3px;
                transform: translateY(-2px);
                background: hsl(345deg 10% 47%);
                text-align: center;
            }
        }
        .mute-btn {
            &.on {
                background-color: darken($color: rgb(236, 236, 26), $amount: 30%);
                p {
                    background-color: rgb(236, 236, 26);
                }
            }
        }
        .solo-btn {
            &.on {
                background-color: darken($color: rgb(236, 26, 26), $amount: 30%);
                p {
                    background-color: rgb(236, 26, 26);
                }
            }
        }
    }
}
