.mixer-window-container {
    height: 29vh;
    width: 100%;
    // width: calc(100% - 150px);
    // margin-inline-start: 150px;
    border: 1px solid;
    .volume-fader-container {
        border: 1px solid;
        width: 60px;
        border-radius: 2px;
        height: 150px;
        .fader-btns-container {
            width: 90%;
            padding-top: 3px;
            height: 30px;
            .ops-btns {
                width: 100%;
            }
        }
    }
    .volume-fader {
        width: 90px;
        transform: rotate(270deg);
        input {
            cursor: pointer;
            width: 100%;
        }
        button {
            transform: rotate(90deg);
        }
        position: relative;
        top: 30%;
    }
    .volume-data {
        position: relative;
        top: 65%;
        font-size: 0.675rem;
        width: 100%;
        border-radius: 3px;
        height: 20px;
        padding: 0 3px;
        &.red {
            background-color: $bsDanger;
        }
        &.blue {
            background-color: $bsInfo;
        }
        &.yellow {
            background-color: $bsWarning;
        }
        &.green {
            background-color: $bsSuccess;
        }
        &.master {
            background-color: $bsInverse;
            color: white;
        }
    }
}
