.mixer-window-container {
    height: 30vh;
    width: 100%;
    // width: calc(100% - 150px);
    // margin-inline-start: 150px;
    border: 1px solid;
    .volume-fader-container {
        border: 1px solid;
        width: 45px;
        border-radius: 2px;
    }
    .volume-fader {
        width: 100px;
        transform: rotate(270deg);
        input {
            cursor: pointer;
            width: 100%;
        }
        button {
            transform: rotate(90deg);
        }
        position: relative;
        top: 35%;
    }
    .volume-data {
        position: relative;
        top: 65%;
        font-size: 0.875rem;
        width: 100%;
        border-radius: 3px;
        &.red {
            background-color: $bsDanger;
        }
        &.blue {
            background-color: $bsInfo;
        }
        &.yellow {
            background-color: $bsWarning;
        }
        &.green {
            background-color: $bsSuccess;
        }
        &.master {
            background-color: $bsInverse;
            color: white;
        }
    }
}
