.scroll-bar-wrapper {
    border: 1px solid;
    width: 100%;
    // max-width: 100vw;
    height: 20px;
    background-color: #444;
    .scroll-bar-container {
        border: 1px solid;
        height: 100%;
        width: 100%;
        background-color: lighten($color: #444, $amount: 20%);
        border-radius: 8px;
        .bars-counter {
            width: calc(100% - 154px);
            margin-inline-start: 154px;
            background-color: lightblue;
            height: 100%;
            .bar {
                border: 1px solid;
                width: 25%;
                height: 100%;
                .bar-sub-divison {
                    height: 100%;
                    width: 100%;
                }
                .qurter,
                .eighth {
                    width: 12.5%;
                    height: 100%;
                    display: flex;
                    div {
                        width: 0.5px;
                        background-color: black;
                    }
                }
                .eighth {
                    div {
                        height: 70%;
                    }
                }
                .qurter {
                    div {
                        height: 90%;
                    }
                }
            }
        }
    }
    .cursor-wrapper {
        width: calc(100% - 203px);
        margin-inline-start: 168px;
        height: calc(100% - 10px);
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        .cursor-container {
            position: relative;
            width: 10px;
            height: 100%;
            .pointer-container {
                height: 10px;
                transform: rotate(90deg);
                font-size: 10px;
            }
            .cursor-line {
                width: 10px;
                // height: ;
                div {
                    width: 1px;
                    // height: calc(100vh - 90px);
                    height: calc(70vh - 105px);
                    background-color: rgba(0, 0, 0, 0.301);
                }
            }
        }
    }
}
